body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

body, html {
    height: 100%;
}

header {
    background-color: #f8f8f8;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.top-section {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    background-color: #2C3E50; /* Color matching the top background */
}

.middle-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C3E50; /* Dark blue background */
}

.form-container {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.logo img {
    width: 85px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 85%;
    margin-left: 25px;
}

.form-group label {
    font-size: 14px;
    color: #333;
}

.form-group span {
    color: red;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa8a8;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group.terms label {
    font-size: 12px;
    color: #666;
}

.form-group.terms a {
    color: #007BFF;
    text-decoration: none;
}

.form-group.terms a:hover {
    text-decoration: underline;
}

.btn-create-account {
    background-color: #F1C40F;
    color: #000000;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 50%;
    margin-top: 10px;
}

.btn-create-account:hover {
    background-color: #F39C12;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.login-link a {
    color: #007BFF;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.logo img {
    width: 80px; /* Adjust size according to your logo */
}

.bottom-section {
    background-color: #E2E2E2; /* Light gray matching the bottom background */
    padding: 40px 0;
}
